{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            font-size: 24px;
            text-align: center;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .alert {
            margin-bottom: 20px;
            padding: 10px 15px;
            border-radius: 5px;
        }

        .btn-primary-color {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn-primary-color:hover {
            background-color: #0056b3;
        }

        .btn-secondary-color {
            background-color: #6c757d;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn-secondary-color:hover {
            background-color: #495057;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="container">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <h1>Créer un compte</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
        <div class="d-flex flex-column gap-3">
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-primary-color">S'inscrire</button>

            <small>
                Vous avez déjà un compte? <a href="{{ path('app_login') }}">Connectez-vous</a>
            </small>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
